<h1>Your Home Page</h1>
<%= link_to "Show me all sold products", controller: 'users', action: 'sold'%></br>
<%= link_to "Show me all buyed products", controller: 'users', action: 'buyed'%></br>
<%= link_to "Show me all my reviews", controller: 'users', action: 'reviews'%></br>
<%= link_to "Show me all my current lots", controller: 'users', action: 'current_lots'%></br>
