<%= render 'layouts/top_panel' %>
<%# if permission? @option, current_user %>
    <h1>Editing Book</h1>

    <%#= render 'form', option: @option %>
    <%#= link_to 'Show', @option %>
    <%#= link_to 'Back', options_show_path, method: :get  %>
<%# end %>
