<%= render 'layouts/top_panel' %>
<div class="main" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h1>Books</h1>
    <h2>For sale</h2>
    <div ng-repeat="book in books" class="col-md-4">
      <div class="thumbnail">
        <div>
          <div class="book_main">
            <img ng-src="{{book.images[0].image.url}}">
            <p class="title"> {{book.title}} </p>
            <p class="author"> book author: {{book.author}} </p>
            <p class="price"> {{book.price | currency}} </p>
            <p class="date"> {{book.createdAt | date}} </p>
          </div>
          <div class="book_about">
            <p class="book_about">{{book.about}}</p>
          </div>
          <div>
            <p class="book_user_login">{{book.user.login}}</p>
            <p class="book_user_reputation">{{book.user.reputation}}</p>
          </div>
          <p class="date"></p>
          <div class="rating">
            <a class="info" ui-sref="book_path(book)">Seller info</a>
            <p class="about" ng-click="main($index)">about book</p>
            <p class="actions" ng-click="plusOne($index)">buy it</p>
          </div>
        </div>
      </div>
    </div>
    <a class="info" ui-sref="new_book_path">New Book</a>
  </div>
<%#= paginate @books %>

</div>